@page "/admin/users"
@using System.Net

<AuthorizeView Roles="Administrator">
	<Authorized Context="Auth">
	  <Client.Components.Admin.Nav></Client.Components.Admin.Nav>

		<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
  </head>
  <body>
   
      <!-- partial:partials/_navbar.html -->
      <div>
      
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
   <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="nav-profile-image">
                  <!--<img src="" alt="profile">-->
                  <span class="login-status online"></span>
                  <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">Admin</span>
                 
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">
                <span class="menu-title">Home</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/users">
                <span class="menu-title">Users</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-user-connected menu-icon"></i>
              </a>      
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/booking">
                <span class="menu-title">Bookings</span>
                <i class="mdi mdi-contacts menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/users">
                <span class="menu-title">Users</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/charts/chartjs.html">
                <span class="menu-title">Charts</span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
              </a>
            </li>
 
         
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-home"></i>
                </span> Home
              </h3>
              <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                  </li>
                </ul>
              </nav>
            </div>
           <div class="row g-0">
					<div class="col">
						<h1>Users</h1>
						<br />
						<hr />
						<br />

						@if (InMemoryDatabaseCache.Users == null || _attemptingToDeleteAUser == true)
						{
							<LoadingDot />
						}
						else
						{
							<a href="/admin/users/create" class="btn btn-success shadow me-5 md-f-size-1-5">
								<i class="fas fa-plus"></i> Create user
							</a>

							<button @onclick="() => InMemoryDatabaseCache.GetUsersFromDatabaseAndCache()" class="btn btn-primary shadow md-f-size-1-5">
								<i class="fas fa-sync"></i> Refresh data
							</button>

							<br />
							<br />
							<br />

							@if (InMemoryDatabaseCache.Users.Count < 1)
							{
								<h1>No users found. Please create one.</h1>
							}
							else
							{
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-sm">
										<thead>
											<tr>
												<th scope="col">Email</th>
												<th scope="col">Is Confirmed</th>
												<th scope="col">Phone Number</th>
									
											</tr>
										</thead>
										<tbody>
											@foreach (var user in InMemoryDatabaseCache.Users)
											{
												<tr>
													<th class="w-8" scope="row">
														<p>@user.NormalizedEmail</p>
													</th>
												
													<td class="w-4">
														<p>@user.EmailConfirmed</p>
													</td>
													<td class="w-4">
														<p>@user.PhoneNumber</p>
													</td>
								
												
													<td class="w-14">
														<div class="d-flex flex-column">

														

															<br />

															<button @onclick="(() => DeleteUser(user))" class="btn btn-danger shadow md-f-size-1-5">
																<i class="fas fa-trash"></i> Delete
															</button>
														</div>
													</td>
												</tr>
											}
										</tbody>
									</table>
								</div>
							}
						}

						<div class="position-fixed bottom-0 end-5 z-index-5">

							@if (_successfullyDeletedAUser == true)
							{
								<Toast IsError="false" ToastTitle="Successfully deleted a user."
								   ToastBody="The user has been removed from the database."
								   ParentMethodToCallOnClickBtnClose="() => _successfullyDeletedAUser = false" />
							}

							@if (_unsuccessfullyTriedToDeleteAUser == true)
							{
								<Toast IsError="true" ToastTitle="Delete failed."
								   ToastBody="@($"The reason is \"{_reasonUnsuccessfullyTriedToDeleteAUser}\" Please try again and if the issue persists contact the administrator.")"
								   ParentMethodToCallOnClickBtnClose="() => _unsuccessfullyTriedToDeleteAUser = false" />
							}

						

							@if (_unsuccessfullyTriedToPublishOrUnpublish == true)
							{
								<Toast IsError="true" ToastTitle="Publish or unpublish failed."
								   ToastBody="Something went wrong when communicating with the server. Please try again and if the issue persists contact the administrator."
								   ParentMethodToCallOnClickBtnClose="() => _unsuccessfullyTriedToPublishOrUnpublish = false" />
							}

						</div>

					</div>
				</div>
       
  
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid d-flex justify-content-between">
              
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
   
    <!-- End custom js for this page -->
  </body>
</html>
		
	</Authorized>
	<NotAuthorized>
		<Client.Components.Admin.SignIn />
	</NotAuthorized>
</AuthorizeView>

@implements IDisposable
@code
{
	[Inject] InMemoryDatabaseCache InMemoryDatabaseCache { get; set; }
	protected override async Task OnInitializedAsync()
	{
		InMemoryDatabaseCache.OnUsersDataChanged += StateHasChanged;

		if (InMemoryDatabaseCache.Users == null)
		{
			await InMemoryDatabaseCache.GetUsersFromDatabaseAndCache();
		}
	}

	public void Dispose() => InMemoryDatabaseCache.OnUsersDataChanged -= StateHasChanged;

	[Inject] HttpClient HttpClient { get; set; }
	private bool _attemptingToDeleteAUser = false;
	private bool _successfullyDeletedAUser = false;
	private bool _unsuccessfullyTriedToDeleteAUser = false;
	private string _reasonUnsuccessfullyTriedToDeleteAUser = null;
	private async void DeleteUser(AppUser userToDelete)
	{
		_attemptingToDeleteAUser = true;

		HttpResponseMessage response = await HttpClient.DeleteAsync($"{APIEndpoints.s_users}/{userToDelete.Email}");

		if (response.StatusCode == HttpStatusCode.NoContent)
		{
			if (InMemoryDatabaseCache.Users.Remove(userToDelete))
			{
				_successfullyDeletedAUser = true;
			}
			else
			{
				_reasonUnsuccessfullyTriedToDeleteAUser = "An unexpected error has occurred. Please try again and if the issue persists contact the administrator.";
				_unsuccessfullyTriedToDeleteAUser = true;
			}
		}
		else
		{
			_reasonUnsuccessfullyTriedToDeleteAUser = $"The API didn't return an HttpStatusCode.NoContent status code. Instead the API returned the status code {response.StatusCode} and gave the following reason for failure: {response.ReasonPhrase}.";
			_unsuccessfullyTriedToDeleteAUser = true;
		}

		_attemptingToDeleteAUser = false;
		StateHasChanged();
	}

	private bool _successfullyPublishedOrUnpublished = false;
	private bool _unsuccessfullyTriedToPublishOrUnpublish = false;
	private User _lastPublishedOrUnpublishedUser = null;

}