@page "/admin"
@inject HttpClient Http
@using Blazored.LocalStorage
@using Client.Components.Public.Warp
@using Client.Components.Admin
@using Client.Providers
@using Client.Services
@using System.Net.Http.Headers
@using global::Shared.Models

 

<AuthorizeView Roles="Administrator">
	<Authorized Context="Auth">

       <Nav></Nav>
		<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
  </head>
  <body>
   
      <!-- partial:partials/_navbar.html -->
      <div>
 

    
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="nav-profile-image">
                  <!--<img src="" alt="profile">-->
                  <span class="login-status online"></span>
                  <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">Admin</span>
                 
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">
                <span class="menu-title">Home</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/cars">
                <span class="menu-title">Cars</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-car-connected menu-icon"></i>
              </a>      
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/booking">
                <span class="menu-title">Bookings</span>
                <i class="mdi mdi-contacts menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/users">
                <span class="menu-title">Users</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/charts/chartjs.html">
                <span class="menu-title">Charts</span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
              </a>
            </li>
 
         
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-home"></i>
                </span> Home
              </h3>
              <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="row">
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                  <div class="card-body">
                    <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">Bookings <i class="mdi mdi-receipt mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">Total Bookings @temp2</h2>
                    <h6 class="card-text">Increased by 60%</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                  <div class="card-body">
                    <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">Users <i class="mdi mdi-human mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">45,6334</h2>
                    <h6 class="card-text">Decreased by 10%</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                  <div class="card-body">
                    <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">Our Fleet <i class="mdi mdi-car-connected mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">Number of Cars @temp1</h2>
                    <h6 class="card-text">Increased by 5%</h6>
                  </div>
                </div>
              </div>
            </div>
       
  
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid d-flex justify-content-between">
              
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
   
    <!-- End custom js for this page -->
  </body>
</html>
	</Authorized>

</AuthorizeView>

	<NotAuthorized>
		<div class="d-flex w-100 min-vh-90 justify-content-center align-items-center">
	<div class="row">
		<div class="col shadow-no-hover p-5">
			@if (_signInSuccessful == true)
			{
				<h3 class="text-center my-3">Sign in successful. You should be redirected automatically in a few seconds.</h3>
			}
			else
			{
				<h3 class="text-center fw-bold">You must be signed in to access the admin area.</h3>
				<h5 class="text-center mt-2 mb-5">After signing in you'll be remembered for 4 weeks.</h5>

				<EditForm Model="_user1" OnValidSubmit="SignInUser">
					<DataAnnotationsValidator />

					<div class="form-group my-3">
						<label for="email">Email address</label>
						<InputText @bind-Value="_user1.EmailAddress" id="email" class="form-control" />
						<ValidationMessage For="@(() => _user1.EmailAddress)" />
					</div>

					<div class="form-group my-3">
						<label for="password">Password</label>
						<InputText @bind-Value="_user1.Password" id="password" type="password" class="form-control" />
						<ValidationMessage For="@(() => _user1.Password)" />
					</div>

					<ValidationSummary />

					<button type="submit" class="btn btn-primary shadow w-100 md-f-size-1-5">
						Sign in
					</button>
                    </EditForm>
                }
            </div>
        </div>
       
    </div>
	</NotAuthorized>

@code
{
    [Inject] InMemoryDatabaseCache InMemoryDatabaseCache { get; set; }
    [Inject] HttpClient HttpClient { get; set; }
    [Inject] AuthenticationStateProvider AuthenticationStateProvider { get; set; }
    [Inject] ILocalStorageService LocalStorageService { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }

    List<Car> _cars;
    List<Category> _categories;
    List<Booking> _bookings;

    int temp = 0;
    int temp1 = 0;
    int temp2 = 0;
    private bool _signInAttemptFailed = false;
    private bool _signInSuccessful = false;
    private User _user1 = new();
    private async Task SignInUser()
    {
        var response = await HttpClient.PostAsJsonAsync<User>(APIEndpoints.s_signIn, _user1);

        if (response.IsSuccessStatusCode == false)
        {
            _signInAttemptFailed = true;
        }
        else
        {
            string JSONWebToken = await response.Content.ReadAsStringAsync();

            await LocalStorageService.SetItemAsync("bearerToken", JSONWebToken);

            await ((AppAuthenticationStateProvider)AuthenticationStateProvider).SignIn();

            HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("bearer", JSONWebToken);

            _signInSuccessful = true;

            NavigationManager.NavigateTo("/admin");
        }
    }

    protected override async Task OnInitializedAsync()
    {



        if (InMemoryDatabaseCache.Categories == null)
        {
            await InMemoryDatabaseCache.GetCategoriesFromDatabaseAndCache(true);

            temp = InMemoryDatabaseCache.Categories.Count;

            Console.WriteLine("In 1 "+temp);

        }
        if (InMemoryDatabaseCache.Cars == null)
        {
            await InMemoryDatabaseCache.GetCarsFromDatabaseAndCache();
            temp1 = InMemoryDatabaseCache.Cars.Count;
            Console.WriteLine("In 2 "+InMemoryDatabaseCache.Cars.Count+" "+temp1);

        }
          if (InMemoryDatabaseCache.Bookings == null)
        {
            await InMemoryDatabaseCache.GetBookingsFromDatabaseAndCache();
            temp2 = InMemoryDatabaseCache.Bookings.Count;

        }
    

    }
   


  

    
}